<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2019, Design by:
    <a href="https://www.youtube.com/channel/UCMMVK3WyCv7EBAEthawp2mg?view_as=subscriber"> Daniel Mesa</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->