<div class="caja">
    <h1 id="titulo"> Oriana Rivas</h1>
</div>

<div class="card cajatexto">
  <div class="card-body">
    Entendido como cualquier actividad o producto realizado por el ser humano con 
    finalidad estética o comunicativa, a través del que expresa ideas, emociones o, en general, 
    una visión del mundo, el arte emplea diversos recursos, como los plásticos, lingüísticos, sonoros o mixtos. 
    La historia del arte, como disciplina académica y entorno institucional (museos, mercado del arte, departamentos 
    universitarios, producciones editoriales) se suele restringir a las denominadas artes visuales o plásticas 
    (esencialmente a pintura, escultura y arquitectura), mientras que otras artes son más específicamente objeto 
    de estudio de otras disciplinas claramente delimitadas, como la historia de la literatura o la historia de la 
    música, siendo todas ellas objeto de atención por la denominada historia de la cultura o historia cultural, 
    junto con las historias sectoriales enfocadas a otras manifestaciones del pensamiento, como la historia de 
    la ciencia, la historia de la filosofía o la historia de las religiones. Campos de conocimiento estrechamente 
    relacionados con la historia del arte son la estética y la teoría del arte.
  </div>
</div>

<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/HP_logo_630x630.png" widht="400" height="400" alt="">
</div>

<div class="card">
  <div class="card-body">
    Entendido como cualquier actividad o producto realizado por el ser humano con 
    finalidad estética o comunicativa, a través del que expresa ideas, emociones o, en general, 
    una visión del mundo, el arte emplea diversos recursos, como los plásticos, lingüísticos, sonoros o mixtos. 
    La historia del arte, como disciplina académica y entorno institucional (museos, mercado del arte, departamentos 
    universitarios, producciones editoriales) se suele restringir a las denominadas artes visuales o plásticas 
    (esencialmente a pintura, escultura y arquitectura), mientras que otras artes son más específicamente objeto 
    de estudio de otras disciplinas claramente delimitadas, como la historia de la literatura o la historia de la 
    música, siendo todas ellas objeto de atención por la denominada historia de la cultura o historia cultural, 
    junto con las historias sectoriales enfocadas a otras manifestaciones del pensamiento, como la historia de 
    la ciencia, la historia de la filosofía o la historia de las religiones. Campos de conocimiento estrechamente 
    relacionados con la historia del arte son la estética y la teoría del arte.
  </div>
</div>

<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/HP_logo_630x630.png" widht="400" height="400" alt="">
</div>